<div class="tool container" >
  <% if tools.nil? || tools.empty? then %>
    <div class="row">
      <div class="column">could not load tools</div>
    </div>
  <% else %>
    <% row_len = 5 %>
    <% rows = tools.size / row_len  %>
    <% if tools.size % row_len != 0 then rows=rows+1 end %>

    <% for i in 0..rows-1 do %>
      <div class="tool row">
      <% for j in 0..row_len-1 do %>
        <% index = i*row_len + j %>
        <% if index < tools.size then%>
        <div class="tool column"><%= tools[index].name %></div>
        <% end %>
      <% end %>
      </div>
  <% end %>
  <% end %>
</div>