<p id="notice"><%= notice %></p>

<%= render @job %>

<div class="container">
  <div class="row">
    <div class="column">
      <%= link_to 'Edit', edit_job_path(@job) %>
    </div>
    <div class="column">
      <%= link_to 'Back', jobs_path %>
    </div>
  </div>
</div>


