<!--<div class="container" id="banner">
  <div class="row">
    <div class="column"><%= image_tag("earth_day.jpg") %></div>
  </div>
</div>-->

<style>
  .center{
    -webkit-align-content: center;
    align-content: center;
    text-align: center;
  }
</style>

<div class="container">
  <div class="row">
    <div class="column center"><h1>Robby Thompson</h1></div>
  </div>
  <div class="row">
    <div class="column">
      <%= render "contacts/contacts",  contacts: @contacts %>
    </div>
  </div>
  <div class="row">
    <div class="column center"><h2>Software Engineer</h2></div>
  </div>
  <div class="row">
    <div class="column center"><h4><b>Object-Oriented Analysis, Design and Development / Relational Database Systems</b></h4></div>
  </div>
  <div class="row">
    <div class="column">
      <ul>
        <li><b>Innovative software engineer</b> offering over six years of experience in the full software development life-cycle - From concept through delivery of next-generation application and custom solutions</li>
        <li><b>Expert in advanced development methodologies</b>, tools, and processes contributing to the design and roll-out of cutting edge software applications.</li>
        <li><b>Known for excellent troubleshooting skills</b> - able to analyze code and engineer well-researched, cost effective, and responsive solutions.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="column center"><h2>Technical Tools</h2></div>
  </div>
  <div class="row">
    <div class="column">
      <%= render "tools/tools",  tools: @tools %>
    </div>
  </div>
  <div class="row">
    <div class="column center"><h2>Professional Experience</h2></div>
  </div>
    <div class="row">
      <div class="column">
        <%= render @jobs || "could not find past experience" %>
      </div>
    </div>
  <div class="row">
    <div class="column center"><h2>Education</h2></div>
  </div>
  <div class="row">
    <div class="column center"><h2>Awards and Accomplishments</h2></div>
  </div>
</div>

