<div class="container">
  <div class="row">
    <% contacts.each do |contact| %>
      <div class="column"><h5><a href="<%= contact.url.nil? || contact.url.empty? ? "#" : contact.url %>"><i class="<%= contact.icon %>"></i> <%= contact.name %></a></h5></div>
    <% end %>
  </div>
</div>